<div>
  <mat-grid-list cols="2" rowHeight="600px">
    <mat-grid-tile>
      <mat-card>
        <app-notice></app-notice>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <app-addsubject></app-addsubject>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <app-mysubject></app-mysubject>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <app-chat></app-chat>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>




