<header>
    <nav>
        <div class="logo">
            <img src="../assets/intro_ajou_symbol.png" height="50" width="50" />
        </div>
        <div class="menu">
            <a mat-raised-button routerLink="main"> Main </a>
            <a mat-raised-button routerLink="table"> Time Table </a>
        </div>
        <div class="info" *ngIf="user">
            <span>{{user.displayName}} / {{user.major}}학과 / {{user.grade}}학년 / 최대신청학점 :{{user.maximum_credit}}</span>
        </div>

        <div class="auth">
            <button mat-icon-button [matMenuTriggerFor]="matmenu">
                <mat-icon>public</mat-icon>
            </button>
            <mat-menu #matmenu="matMenu">
                <button mat-menu-item *ngIf="!isLogin" (click)="showDialog = 1" class="btn">
                    <mat-icon>flag</mat-icon>
                    <span> login </span>
                </button>
                <button mat-menu-item *ngIf="isLogin" (click)="logout()">
                    <mat-icon>flag</mat-icon>
                    <span> logout </span>
                </button>
            </mat-menu>
        </div>
    </nav>
</header>


<app-modal [(visible)]="showDialog"></app-modal>
