.example-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
mat-card {
  width: 100%;
}

.example-header {
  min-height: 10px;
  padding: 3px 2px 0;
}

.mat-form-field {
  font-size: 6pt;
  width: 60%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
