<mat-card>
  <div class="search mat-elevation-z8">
    <div class="table-title">
      <mat-form-field>
        <mat-select placeholder="학과" [(ngModel)]="selected" (change)="applyFilter(selected)">
        <mat-option *ngFor="let major of majorName" [value]="major">
            {{ major }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="courseNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 과목코드 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.courseNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 강의명 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="credit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 학점 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.credit}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lectureTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 강의시간 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lectureTime}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lectureRoom">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 강의실 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lectureRoom}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="professor">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 교수 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.professor}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="seats">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 여석 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.seats}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="major">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 전공 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.major}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="join">
        <mat-header-cell *matHeaderCellDef> 신청 </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="addSubject(element)">신청</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="majorColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: majorColumns;"></mat-row>
    </mat-table>
  </div>
</mat-card>