mat-form-field {
  width: 80%;
  padding: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-card {
  box-shadow: none;
}