<mat-list>
  <mat-list-item *ngFor="let Course of searchList" style="display: inline;">
    <span>{{Course.subjectId}}</span>
    <span class="spacer"></span>
    <span>{{Course.name}}</span>
    <span class="spacer"></span>
    <span>{{Course.credit}}</span>
    <span class="spacer"></span>
    <span>{{Course.lectureTime}}</span>
    <span class="spacer"></span>
    <span>{{Course.professor}}</span>
    <span class="spacer"></span>
    <span>{{Course.seats}}</span>
    <span class="spacer"></span>
    <span>{{Course.major}}</span>
    <input type="button" value="신청" (click)="register(Course)">
  </mat-list-item>
</mat-list>
