mat-toolbar {
  background-color: blue;
  color: white;
}
mat-grid-tile {
  background-color: aqua;
}

.spacer {
  flex: 1 1 auto;
}



.example-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 100%;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 100%;
}

.mat-accordion {
  min-width: 100%;
}

/*챗팅*/
body {
  font:12px arial;
  color: #222;
  text-align:center;
  padding:35px; }

form, p, span {
  margin:0;
  padding:0; }

input { font:12px arial; }

a {
  color:#0000FF;
  text-decoration:none; }

a:hover { text-decoration:underline; }

#wrapper, #loginform {
  margin:0 auto;
  padding-bottom:25px;
  background:#EBF4FB;
  width:504px;
  border:1px solid #ACD8F0; }

#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
  text-align:left;
  margin:0 auto;
  margin-bottom:25px;
  padding:10px;
  background:#fff;
  height:270px;
  width:430px;
  border:1px solid #ACD8F0;
  overflow:auto; }

#usermsg {
  width:395px;
  border:1px solid #ACD8F0;
  margin:0 auto;
  }
#subitmsg {
  margin:0 auto;
}
#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }
