<!--The content below is only a placeholder and can be replaced.-->

<div>
  <mat-grid-list cols="2" rowHeight="3:2">
    <mat-grid-tile>
      <mat-card>
      <app-announce></app-announce>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="display: inline">
      <mat-card>
      <app-search></app-search>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
      <app-join></app-join>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
      <app-chatting></app-chatting>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

