<mat-card>
  <div class="announce mat-elevation-z8">
    <div class="search">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="announceId">
        <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.announceId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="titleCol"> 제목 </mat-header-cell>
        <mat-cell *matCellDef="let element" class="titleCol">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              {{element.title}}
            </mat-expansion-panel-header>
            {{element.body}}
          </mat-expansion-panel>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="announceColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: announceColumns;"></mat-row>
    </mat-table>
  </div>
</mat-card>
