.mat-column-announceId {
  max-width: 10%;
}

.mat-column-title {
  max-width: 90%;
}

.announce {
  height: 400px;
}

.mat-card {
  box-shadow: none;
}

mat-form-field {
  width: 80%;
  padding: 10px;
}

.container {
  padding: 20px;
}