<!--// 3-->
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource2">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="major">
        <mat-header-cell *matHeaderCellDef> MAJOR </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.major}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="subjectId">
        <mat-header-cell *matHeaderCellDef> SUBJECTID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.subjectId}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="credit">
        <mat-header-cell *matHeaderCellDef> CREDIT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.credit}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef> TIME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="professor">
        <mat-header-cell *matHeaderCellDef> PROFESSOR </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.professor}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lectureTime">
        <mat-header-cell *matHeaderCellDef> LECTURETIME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lectureTime}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lectureRoom">
        <mat-header-cell *matHeaderCellDef> LECTUREROOM </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lectureRoom}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="isCyber">
        <mat-header-cell *matHeaderCellDef> ISCYBER </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isCyber}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="addbutton">
        <mat-header-cell *matHeaderCellDef> BUTTON </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="removeSubject(element.name)"> {{element.addbutton}} </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
