mat-toolbar {
  background-color: blue;
  color: white;
}
mat-grid-tile {
  background-color: aqua;
}

.spacer {
  flex: 1 1 auto;
}



/*.example-container {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*max-height: 100%;*/
  /*min-width: 100%;*/
/*}*/
/*.example-header {*/
  /*min-height: 64px;*/
  /*padding: 8px 24px 0;*/
/*}*/

/*.mat-form-field {*/
  /*font-size: 14px;*/
  /*width: 100%;*/
/*}*/

/*.mat-table {*/
  /*overflow: auto;*/
  /*max-height: 100%;*/
/*}*/

.mat-accordion {
  min-width: 100%;
}


/*추가*/
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.example-header {
  min-height: 20px;
  padding: 3px 2px 0;
}

.mat-form-field {
  font-size: 6pt;
  width: 60%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
